<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>View All Permintaan Pengiriman</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
    <div class="text-center pt-5">
        <h2>Daftar Permintaan Pengiriman</h2>
    </div>

    <div class="text-center pb-3">
        <a href="/permintaan-pengiriman/tambah" class="btn btn-primary">+ Tambah Permintaan Pengiriman</a>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Waktu Permintaan</th>
            <th>Nomor Pengiriman</th>
            <th>Nama Penerima</th>
            <th>Alamat Penerima</th>
            <th>Tanggal Pengiriman</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="permintaan, iterStat: ${listPermintaanPengiriman}">
            <tr>
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="${permintaan.waktuPermintaan}"></td>
                <td th:text="${permintaan.nomorPengiriman}"></td>
                <td th:text="${permintaan.namaPenerima}"></td>
                <td th:text="${permintaan.alamatPenerima}"></td>
                <td th:text="${permintaan.tanggalPengiriman}"></td>
                <td>
                    <a type="button" class="btn btn-md btn-primary" th:href="@{'/permintaan-pengiriman/' + ${permintaan.id}}">Detail</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>

</html>
