<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Detail Pengiriman Barang</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container py-lg-5">
    <div class="card mx-lg-5">
        <h2 class="card-header text-left">
            Detail Pengiriman Barang
        </h2>
        <h2 class="card-header text-right">
            <h2 class="card-header text-right">
                <a th:href="@{'/permintaan-pengiriman/' + ${permintaanPengiriman.id} + '/cancel'}" class="btn btn-danger">Cancel Permintaan</a>
            </h2>
        </h2>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title" th:text="${permintaanPengiriman.nomorPengiriman}"></h5>
                </div>
            </div>
            <p class="card-text">Waktu Permintaan: <span th:text="${permintaanPengiriman.waktuPermintaan}"></span></p>
            <p class="card-text">Karyawan Bertugas: <span th:text="${permintaanPengiriman.karyawan.nama}"></span></p>
            <p class="card-text">Waktu Pengiriman: <span th:text="${permintaanPengiriman.tanggalPengiriman}"></span></p>
            <p class="card-text">Nama Penerima: <span th:text="${permintaanPengiriman.namaPenerima}"></span></p>
            <p class="card-text">Alamat Penerima: <span th:text="${permintaanPengiriman.alamatPenerima}"></span></p>
            <p class="card-text">Jenis Layanan: <span th:text="${permintaanPengiriman.jenisLayanan}"></span></p>
            <p class="card-text">Biaya Pengiriman: <span th:text="${permintaanPengiriman.biayaPengiriman}"></span></p>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <div class="row text-center mb-2">
                        <h4 class="card-title">Daftar Barang dipesan</h4>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Merk</th>
                            <th scope="col">Kuantitas Pesanan</th>
                            <th scope="col">Total Harga</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="permintaanPengirimanBarang, iterStat : ${permintaanPengirimanBarang}">
                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${permintaanPengirimanBarang.barang.sku}"></td>
                            <td th:text="${permintaanPengirimanBarang.barang.merk}"></td>
                            <td th:text="${permintaanPengirimanBarang.kuantitasPesanan}"></td>
                            <td th:text="${permintaanPengirimanBarang.barang.hargaBarang}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a href="/permintaan-pengiriman" class="btn btn-secondary">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
